fastapi>=0.116.1
sqlalchemy>=2.0.41
pandas>=2.3.1
black>=25.1.0
pymysql>=1.1.1
uvicorn>=0.35.0
bcrypt>=4.3.0
pydantic[email]>=2.11.7
python-multipart>=0.0.20
pyjwt>=2.10.1
detoxify>=0.5.2
better-profanity>=0.7.0
pyotp>=2.9.0
qrcode[pil]>=8.2